#body1{
    background-color: rgb(143, 21, 21);
}

#div1{
    background-color: white;  
    border-radius: 10px;
    width:700px;
  }

  #div2{
    background-color: white;  
    border-radius: 10px;
    width:700px;
  }

  #input1{
      width:500px;
      border-radius: 5px;
  }

  #input2{
    width:500px;
    border-radius: 5px;
}

#btn1{
    width:200px;
}